<div class="new-word">
  <h1>{{title}}</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--Word input field-->
    <mat-form-field>
      <mat-label>Word</mat-label>
      <input matInput formControlName="word"
             placeholder="Type new word" />
      <mat-error *ngIf="this.form.controls['word'].errors?.['required']">
        Enter new word
      </mat-error>
    </mat-form-field>
    <!--Translation input field-->
    <mat-form-field>
      <mat-label>Translation</mat-label>
      <input matInput formControlName="translation"
             placeholder="Type new word translation" />
      <mat-error *ngIf="this.form.controls['translation'].errors?.['required']">
        Enter new word translation
      </mat-error>
    </mat-form-field>
    <!--Description input field-->
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description"
             placeholder="Type new word description (if you need it)" />
    </mat-form-field>
    <!--Part of speech input field-->
    <mat-form-field *ngIf="partsOfSpeech">
      <mat-label>Select part of speech</mat-label>
      <mat-select formControlName="partOfSpeech">
        <mat-option *ngFor="let part of partsOfSpeech" [value]="part">
          {{part}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.form.controls['partOfSpeech'].errors?.['required']">
        Choose new word part of speech
      </mat-error>
    </mat-form-field>
    <!--Submit button-->
    <button mat-flat-button color="primary"
            type="submit">
      {{this.id ? "Save" : "Create"}}
    </button>
    <!-- Delete button -->
    <button *ngIf="this.id" class="mat-flat-button" color="secondary" (click)="deleteWord()">
      Delete word
    </button>
    <!--Cancel button-->
    <button mat-flat-button color="secondary"
            [routerLink]="['/vocabulary']">
      Cancel
    </button>
  </form>

</div>
