<div class="main-container">
    <div class="container" id="head">
        <h1>You're welcome on Vocabulary App main page!</h1>
        <p id="skills">
            My name is Roman Vazenmiller and that's a small application that
            shows my Angular, ASP.NET Core and CSS skills
        </p>
    </div>
    <div class="container">
        <div class="functions">
            <p id="sub-header">More detailed app description</p>
            <p>
                This app implements basic CRUD functions for your Vocabulary
            </p>
            <div class="function">
                <h2>Adding</h2>
                To add a word you should proceed to "Add new word" tab, which you can see on nav-bar at the top 
            </div>
            <div class="function">
                <h2>Deleting</h2>
                To delete a word you should choose one and click it in "Vocabulary" tab.
                Then find a "Delete" button at the bottom of the edit form.
            </div>
            <div class="function">
                <h2>Editing</h2>
                To edit a word you should choose one and click it in "Vocabulary" tab
            </div>
            <div class="function">
                <h2>Browsing</h2>
                To browse your personal Vocabulary click on "Vocabulary" tab on the nav-bar
            </div>
        </div>
    </div>
    <div class="container">
        <p>More about the used technologies</p>
        <div class="plain-text">
            <h2>Frontend</h2>
            For frontend I've decided to use Angular platform 'cause it's one of the most widespread platforms.
            Well, basically that's it. I've not got any other explanations for this. <br><br>
            For the styles of the app I've mostly used Angular Material, which elements you can see, for
            example, on the nav bar. But this particular page, except the nav-bar, of course, has been made 
            using simple CSS changes. I could have used one of the CSS libraries, but I needed to show 
            I can do at least basic CSS changes myself.
            <h2>Backend</h2>
            <b>ASP.NET Core 6</b> has been chosen because of my previous experience developing in university
            and 'cause I've been concentrating on C# for quite a while.<br>
            For the data storing has been chosen <b>Sql Server 18</b>. The database bas has been created
            using Entity Framework Core 6 with Code-First approach. Also some DB migrations have been created
            to create it on production server without having more troubles.
        </div>
    </div>
</div>
